@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Noto+Sans+Khmer:wght@500&family=Roboto:wght@300&display=swap');



div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: left;
    max-width: 700px;
    max-height: 500px;
    margin: 100px auto;    
}

img {
    grid-column: 1;
    grid-row: 1/7;
}

h1 {
    grid-column: 2;
    text-align: center;
    font-family: 'Noto Sans Khmer';
    color: rgba(128, 128, 128, 0.803);
}

p {
    grid-column: 2;
    text-align: center;
    font-family: Roboto;
    margin: 0px 20px;
    color: #646464;
}

#email {
    width: auto;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    grid-row: 3;
}

#name {
    width: auto;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    grid-row: 4;

}

form {
    grid-column: 2;
    grid-row: 5;
    margin: 0px 20px;
}

button {
    width: 200px;
    height: 75px;
    background-color: orange;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    justify-self: center;
    font-family: Kanit;
}